CompileFlags:
  CompilationDatabase: Debug/.clangd
  Compiler: /home/zikun/ti/ccstheia151/ccs/tools/compiler/ti-cgt-armllvm_4.0.0.LTS/bin/tiarmclang
  Add:
    - --target=arm-none-eabi
    - -march=thumbv6m
    - -mcpu=cortex-m0plus
    - -mfloat-abi=soft
    - -mlittle-endian
    - -mthumb
    - -D__ti_version__=1

Diagnostics:
  Suppress:
    - unknown-warning-option
    - unused-command-line-argument

InlayHints:
  Enabled: No
